In [1]:
from pathlib import Path
import csv

In [2]:
csv_path = Path('./Resources/budget_data.csv')

In [3]:
def read_csv(csv_path):
    with open (csv_path, 'r') as csv_file:
        reader = csv.reader(csv_file,delimiter = ',')
        record_list = list(reader)
    return record_list

In [4]:
read_csv(csv_path)

[['Date', 'Profit/Losses'],
 ['Jan-2010', '867884'],
 ['Feb-2010', '984655'],
 ['Mar-2010', '322013'],
 ['Apr-2010', '-69417'],
 ['May-2010', '310503'],
 ['Jun-2010', '522857'],
 ['Jul-2010', '1033096'],
 ['Aug-2010', '604885'],
 ['Sep-2010', '-216386'],
 ['Oct-2010', '477532'],
 ['Nov-2010', '893810'],
 ['Dec-2010', '-80353'],
 ['Jan-2011', '779806'],
 ['Feb-2011', '-335203'],
 ['Mar-2011', '697845'],
 ['Apr-2011', '793163'],
 ['May-2011', '485070'],
 ['Jun-2011', '584122'],
 ['Jul-2011', '62729'],
 ['Aug-2011', '668179'],
 ['Sep-2011', '899906'],
 ['Oct-2011', '834719'],
 ['Nov-2011', '132003'],
 ['Dec-2011', '309978'],
 ['Jan-2012', '-755566'],
 ['Feb-2012', '1170593'],
 ['Mar-2012', '252788'],
 ['Apr-2012', '1151518'],
 ['May-2012', '817256'],
 ['Jun-2012', '570757'],
 ['Jul-2012', '506702'],
 ['Aug-2012', '-1022534'],
 ['Sep-2012', '475062'],
 ['Oct-2012', '779976'],
 ['Nov-2012', '144175'],
 ['Dec-2012', '542494'],
 ['Jan-2013', '359333'],
 ['Feb-2013', '321469'],
 ['Mar-2013', '67780'],
 ['Apr-2013', '471435'],
 ['May-2013', '565603'],
 ['Jun-2013', '872480'],
 ['Jul-2013', '789480'],
 ['Aug-2013', '999942'],
 ['Sep-2013', '-1196225'],
 ['Oct-2013', '268997'],
 ['Nov-2013', '-687986'],
 ['Dec-2013', '1150461'],
 ['Jan-2014', '682458'],
 ['Feb-2014', '617856'],
 ['Mar-2014', '824098'],
 ['Apr-2014', '581943'],
 ['May-2014', '132864'],
 ['Jun-2014', '448062'],
 ['Jul-2014', '689161'],
 ['Aug-2014', '800701'],
 ['Sep-2014', '1166643'],
 ['Oct-2014', '947333'],
 ['Nov-2014', '578668'],
 ['Dec-2014', '988505'],
 ['Jan-2015', '1139715'],
 ['Feb-2015', '1029471'],
 ['Mar-2015', '687533'],
 ['Apr-2015', '-524626'],
 ['May-2015', '158620'],
 ['Jun-2015', '87795'],
 ['Jul-2015', '423389'],
 ['Aug-2015', '840723'],
 ['Sep-2015', '568529'],
 ['Oct-2015', '332067'],
 ['Nov-2015', '989499'],
 ['Dec-2015', '778237'],
 ['Jan-2016', '650000'],
 ['Feb-2016', '-1100387'],
 ['Mar-2016', '-174946'],
 ['Apr-2016', '757143'],
 ['May-2016', '445709'],
 ['Jun-2016', '712961'],
 ['Jul-2016', '-1163797'],
 ['Aug-2016', '569899'],
 ['Sep-2016', '768450'],
 ['Oct-2016', '102685'],
 ['Nov-2016', '795914'],
 ['Dec-2016', '60988'],
 ['Jan-2017', '138230'],
 ['Feb-2017', '671099']]

In [5]:
def remove_header(list_record_withheader):
    list_record_withoutheader = list_record_withheader[1:]
    return list_record_withoutheader

In [6]:
budget_data_list = read_csv(csv_path)

In [7]:
budget_data_list_withheaderremoved = remove_header(budget_data_list)

In [8]:
print(budget_data_list_withheaderremoved)

[['Jan-2010', '867884'], ['Feb-2010', '984655'], ['Mar-2010', '322013'], ['Apr-2010', '-69417'], ['May-2010', '310503'], ['Jun-2010', '522857'], ['Jul-2010', '1033096'], ['Aug-2010', '604885'], ['Sep-2010', '-216386'], ['Oct-2010', '477532'], ['Nov-2010', '893810'], ['Dec-2010', '-80353'], ['Jan-2011', '779806'], ['Feb-2011', '-335203'], ['Mar-2011', '697845'], ['Apr-2011', '793163'], ['May-2011', '485070'], ['Jun-2011', '584122'], ['Jul-2011', '62729'], ['Aug-2011', '668179'], ['Sep-2011', '899906'], ['Oct-2011', '834719'], ['Nov-2011', '132003'], ['Dec-2011', '309978'], ['Jan-2012', '-755566'], ['Feb-2012', '1170593'], ['Mar-2012', '252788'], ['Apr-2012', '1151518'], ['May-2012', '817256'], ['Jun-2012', '570757'], ['Jul-2012', '506702'], ['Aug-2012', '-1022534'], ['Sep-2012', '475062'], ['Oct-2012', '779976'], ['Nov-2012', '144175'], ['Dec-2012', '542494'], ['Jan-2013', '359333'], ['Feb-2013', '321469'], ['Mar-2013', '67780'], ['Apr-2013', '471435'], ['May-2013', '565603'], ['Jun-2013', '872480'], ['Jul-2013', '789480'], ['Aug-2013', '999942'], ['Sep-2013', '-1196225'], ['Oct-2013', '268997'], ['Nov-2013', '-687986'], ['Dec-2013', '1150461'], ['Jan-2014', '682458'], ['Feb-2014', '617856'], ['Mar-2014', '824098'], ['Apr-2014', '581943'], ['May-2014', '132864'], ['Jun-2014', '448062'], ['Jul-2014', '689161'], ['Aug-2014', '800701'], ['Sep-2014', '1166643'], ['Oct-2014', '947333'], ['Nov-2014', '578668'], ['Dec-2014', '988505'], ['Jan-2015', '1139715'], ['Feb-2015', '1029471'], ['Mar-2015', '687533'], ['Apr-2015', '-524626'], ['May-2015', '158620'], ['Jun-2015', '87795'], ['Jul-2015', '423389'], ['Aug-2015', '840723'], ['Sep-2015', '568529'], ['Oct-2015', '332067'], ['Nov-2015', '989499'], ['Dec-2015', '778237'], ['Jan-2016', '650000'], ['Feb-2016', '-1100387'], ['Mar-2016', '-174946'], ['Apr-2016', '757143'], ['May-2016', '445709'], ['Jun-2016', '712961'], ['Jul-2016', '-1163797'], ['Aug-2016', '569899'], ['Sep-2016', '768450'], ['Oct-2016', '102685'], ['Nov-2016', '795914'], ['Dec-2016', '60988'], ['Jan-2017', '138230'], ['Feb-2017', '671099']]

In [9]:
len(budget_data_list_withheaderremoved)

86

In [10]:
print(budget_data_list)

[['Date', 'Profit/Losses'], ['Jan-2010', '867884'], ['Feb-2010', '984655'], ['Mar-2010', '322013'], ['Apr-2010', '-69417'], ['May-2010', '310503'], ['Jun-2010', '522857'], ['Jul-2010', '1033096'], ['Aug-2010', '604885'], ['Sep-2010', '-216386'], ['Oct-2010', '477532'], ['Nov-2010', '893810'], ['Dec-2010', '-80353'], ['Jan-2011', '779806'], ['Feb-2011', '-335203'], ['Mar-2011', '697845'], ['Apr-2011', '793163'], ['May-2011', '485070'], ['Jun-2011', '584122'], ['Jul-2011', '62729'], ['Aug-2011', '668179'], ['Sep-2011', '899906'], ['Oct-2011', '834719'], ['Nov-2011', '132003'], ['Dec-2011', '309978'], ['Jan-2012', '-755566'], ['Feb-2012', '1170593'], ['Mar-2012', '252788'], ['Apr-2012', '1151518'], ['May-2012', '817256'], ['Jun-2012', '570757'], ['Jul-2012', '506702'], ['Aug-2012', '-1022534'], ['Sep-2012', '475062'], ['Oct-2012', '779976'], ['Nov-2012', '144175'], ['Dec-2012', '542494'], ['Jan-2013', '359333'], ['Feb-2013', '321469'], ['Mar-2013', '67780'], ['Apr-2013', '471435'], ['May-2013', '565603'], ['Jun-2013', '872480'], ['Jul-2013', '789480'], ['Aug-2013', '999942'], ['Sep-2013', '-1196225'], ['Oct-2013', '268997'], ['Nov-2013', '-687986'], ['Dec-2013', '1150461'], ['Jan-2014', '682458'], ['Feb-2014', '617856'], ['Mar-2014', '824098'], ['Apr-2014', '581943'], ['May-2014', '132864'], ['Jun-2014', '448062'], ['Jul-2014', '689161'], ['Aug-2014', '800701'], ['Sep-2014', '1166643'], ['Oct-2014', '947333'], ['Nov-2014', '578668'], ['Dec-2014', '988505'], ['Jan-2015', '1139715'], ['Feb-2015', '1029471'], ['Mar-2015', '687533'], ['Apr-2015', '-524626'], ['May-2015', '158620'], ['Jun-2015', '87795'], ['Jul-2015', '423389'], ['Aug-2015', '840723'], ['Sep-2015', '568529'], ['Oct-2015', '332067'], ['Nov-2015', '989499'], ['Dec-2015', '778237'], ['Jan-2016', '650000'], ['Feb-2016', '-1100387'], ['Mar-2016', '-174946'], ['Apr-2016', '757143'], ['May-2016', '445709'], ['Jun-2016', '712961'], ['Jul-2016', '-1163797'], ['Aug-2016', '569899'], ['Sep-2016', '768450'], ['Oct-2016', '102685'], ['Nov-2016', '795914'], ['Dec-2016', '60988'], ['Jan-2017', '138230'], ['Feb-2017', '671099']]

In [75]:
def get_total(budget_data_list):
    total = 0
    for small_list in budget_data_list:
        total += int(small_list[1])
    return total

total = get_total(budget_data_list_withheaderremoved)

print(total)

def get_max_increase(budget_data_list):
    max_increase_month = ''
    max_increase_amt = 0
    increase = 0
    for i in range(len(budget_data_list)-1):
        increase = int(budget_data_list[i+1][1]) - int(budget_data_list[i][1])
        if increase >= max_increase_amt:
            max_increase_amt = increase
            max_increase_month = budget_data_list[i+1][0]
    return max_increase_month, max_increase_amt
max_increase_month, max_increase_amt = get_max_increase(budget_data_list_withheaderremoved)
print(f'{max_increase_month} {max_increase_amt}')

38382578
Feb-2012 1926159

In [11]:
integers_fromlist = [int(budget_data_list[1][1]), int(budget_data_list[2][1]), int(budget_data_list[3][1]), int(budget_data_list[4][1]),int(budget_data_list[5][1])]
print(integers_fromlist)

[867884, 984655, 322013, -69417, 310503]

In [12]:
sum(integers_fromlist)

2415638

In [13]:
for value in budget_data_list_withheaderremoved:
    print(value[1])

867884
984655
322013
-69417
310503
522857
1033096
604885
-216386
477532
893810
-80353
779806
-335203
697845
793163
485070
584122
62729
668179
899906
834719
132003
309978
-755566
1170593
252788
1151518
817256
570757
506702
-1022534
475062
779976
144175
542494
359333
321469
67780
471435
565603
872480
789480
999942
-1196225
268997
-687986
1150461
682458
617856
824098
581943
132864
448062
689161
800701
1166643
947333
578668
988505
1139715
1029471
687533
-524626
158620
87795
423389
840723
568529
332067
989499
778237
650000
-1100387
-174946
757143
445709
712961
-1163797
569899
768450
102685
795914
60988
138230
671099

In [14]:
for value in budget_data_list_withheaderremoved:
    sum(value[1])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
total = 0

for value in budget_data_list_withheaderremoved:
    value[1] += total

TypeError: 'int' object is not iterable

In [16]:
flat_list = []
for sublist in budget_data_list_withheaderremoved:
    for item in sublist:
        flat_list.append(item)

In [17]:
print(flat_list)

['Jan-2010', '867884', 'Feb-2010', '984655', 'Mar-2010', '322013', 'Apr-2010', '-69417', 'May-2010', '310503', 'Jun-2010', '522857', 'Jul-2010', '1033096', 'Aug-2010', '604885', 'Sep-2010', '-216386', 'Oct-2010', '477532', 'Nov-2010', '893810', 'Dec-2010', '-80353', 'Jan-2011', '779806', 'Feb-2011', '-335203', 'Mar-2011', '697845', 'Apr-2011', '793163', 'May-2011', '485070', 'Jun-2011', '584122', 'Jul-2011', '62729', 'Aug-2011', '668179', 'Sep-2011', '899906', 'Oct-2011', '834719', 'Nov-2011', '132003', 'Dec-2011', '309978', 'Jan-2012', '-755566', 'Feb-2012', '1170593', 'Mar-2012', '252788', 'Apr-2012', '1151518', 'May-2012', '817256', 'Jun-2012', '570757', 'Jul-2012', '506702', 'Aug-2012', '-1022534', 'Sep-2012', '475062', 'Oct-2012', '779976', 'Nov-2012', '144175', 'Dec-2012', '542494', 'Jan-2013', '359333', 'Feb-2013', '321469', 'Mar-2013', '67780', 'Apr-2013', '471435', 'May-2013', '565603', 'Jun-2013', '872480', 'Jul-2013', '789480', 'Aug-2013', '999942', 'Sep-2013', '-1196225', 'Oct-2013', '268997', 'Nov-2013', '-687986', 'Dec-2013', '1150461', 'Jan-2014', '682458', 'Feb-2014', '617856', 'Mar-2014', '824098', 'Apr-2014', '581943', 'May-2014', '132864', 'Jun-2014', '448062', 'Jul-2014', '689161', 'Aug-2014', '800701', 'Sep-2014', '1166643', 'Oct-2014', '947333', 'Nov-2014', '578668', 'Dec-2014', '988505', 'Jan-2015', '1139715', 'Feb-2015', '1029471', 'Mar-2015', '687533', 'Apr-2015', '-524626', 'May-2015', '158620', 'Jun-2015', '87795', 'Jul-2015', '423389', 'Aug-2015', '840723', 'Sep-2015', '568529', 'Oct-2015', '332067', 'Nov-2015', '989499', 'Dec-2015', '778237', 'Jan-2016', '650000', 'Feb-2016', '-1100387', 'Mar-2016', '-174946', 'Apr-2016', '757143', 'May-2016', '445709', 'Jun-2016', '712961', 'Jul-2016', '-1163797', 'Aug-2016', '569899', 'Sep-2016', '768450', 'Oct-2016', '102685', 'Nov-2016', '795914', 'Dec-2016', '60988', 'Jan-2017', '138230', 'Feb-2017', '671099']

In [27]:
int(flat_list[1::2])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [29]:
sum(flat_list[1::2])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
for value in flat_list[1::2]:
    int(value)

    print(value)

867884
984655
322013
-69417
310503
522857
1033096
604885
-216386
477532
893810
-80353
779806
-335203
697845
793163
485070
584122
62729
668179
899906
834719
132003
309978
-755566
1170593
252788
1151518
817256
570757
506702
-1022534
475062
779976
144175
542494
359333
321469
67780
471435
565603
872480
789480
999942
-1196225
268997
-687986
1150461
682458
617856
824098
581943
132864
448062
689161
800701
1166643
947333
578668
988505
1139715
1029471
687533
-524626
158620
87795
423389
840723
568529
332067
989499
778237
650000
-1100387
-174946
757143
445709
712961
-1163797
569899
768450
102685
795914
60988
138230
671099

[]

In [32]:
maximum = flat_list[1]
minimum = flat_list[1]
total = 0

for value in flat_list:
    if value < minimum:
        minimum = value

print(minimum)

-1022534

In [29]:
maximum = budget_data_list_withheaderremoved[0][1]
minimum = budget_data_list_withheaderremoved[0][1]

for value in budget_data_list_withheaderremoved:
    if value[1] < minimum:
        minimum = value[1]

TypeError: '<' not supported between instances of 'str' and 'list'

In [85]:
# from Ask BCS
# Read the header row
header = next(reader)

# Extract first row to avoid appending to net_change_list
first_row = next(reader)
total_months = total_months + 1
total_net = total_net + int(first_row[1])
prev_net = int(first_row[1])

NameError: name 'reader' is not defined

In [81]:
# to access lists within list

print(budget_data_list[1][1])

# element + index

867884

In [84]:
# another example:

print(budget_data_list[7][1])

1033096

In [97]:
total = budget_data_list[1][1]

In [95]:
print(total)

867884

In [144]:
maximum = budget_data_list[1][1]
minimum = budget_data_list[1][1]

# 867884

for num in budget_data_list:
    int([0])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [116]:
print(minimum)

867884

In [ ]:

total_net = total_net + int(first_row[1])
prev_net = int(first_row[1])

In [124]:
net_total = budget_data_list[1][1]
print(net_total)

867884

In [126]:
net_total = net_total + budget_data_list[2][1]
print(net_total)

867884984655984655

In [129]:
for i in range (1,len(budget_data_list)):
    test_list[i] = int(budget_data_list[i])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [127]:

test_list = ['1', '4', '3', '6', '7']
 
# using loop
for i in range(0, len(test_list)):
    test_list[i] = int(test_list[i])
 
# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : [1, 4, 3, 6, 7]

In [133]:
modified_list = []
for [index][1] in budget_data_list:
    int([index][1])

NameError: name 'index' is not defined